<footer class="footer">
        <div class="column">
          <p class="text-sm">Une question ? Call <span class="text-primary">0666261659</span></p>
          <div class="social-bar text-center space-bottom">
            
             
          </div><!-- .social-bar -->
          <p class="copyright">&copy; 2018. Made with <i class="text-danger material-icons favorite"></i> by Lazaare</p>
        </div><!-- .column -->
        <div class="column">
          <h3 class="widget-title">
            Méthodes de paiement
            <small>Méthodes de paiement acceptées</small>
          </h3>
          <div class="cards"><img src="img/cards.png" alt="Cards"></div>
          <!-- Scroll To Top Button -->
          <div class="scroll-to-top-btn"><i class="material-icons trending_flat"></i></div>
        </div><!-- .column -->
      </footer><!-- .footer -->
      </main>

      </div>
