<header class="navbar">

      <!-- Navbar Header -->
      <div class="navbar-header">

        <!-- Site Logo -->
        <a href="#" class="site-logo visible-desktop">
          <span>[</span> M
          <span class="text-gray">/</span>
          STORE <span>]</span>
        </a><!-- site-logo.visible-desktop -->
        <a href="#" class="site-logo visible-mobile">
          <span>[</span> M <span>]</span>
        </a><!-- site-logo.visible-mobile -->

        

        <!-- Mobile Menu Toggle -->
        <a href="#" class="mobile-menu-toggle"><i class="material-icons menu"></i></a>
      </div><!-- .navbar-header -->

      <!-- Mobile Menu Wrapper -->
      <div class="mobile-menu-wrapper">

        <!-- Toolbar -->
        <div class="toolbar">
          <a href="/users/edit"><i class="material-icons person"></i></a>
          <div class="cart-btn">
            <a href="shopping-cart.html">
              <i>
                <span class="material-icons shopping_basket"></span>
                <span class="count">2</span>
              </i>
            </a>
          </div><!-- .cart-btn -->
          <a href="#" class="subscribe-btn"><i class="material-icons mail_outline"></i></a>
        </div><!-- .toolbar -->

        <!-- Main Navigation -->
        <nav class="main-navigation">
          <ul class="menu">
            <li class="menu-item-has-children">
              <a href="#">Home</a>
              <ul class="sub-menu">
                <li><a href="index.html">Home Version 1</a></li>
                <li><a href="home-v2.html">Home Version 2</a></li>
                <li><a href="home-v3.html">Home Version 3</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children current-menu-item">
              <a href="#">Shop</a>
              <ul class="sub-menu">
                <li><a href="shop-sidebar-left.html">Shop Sidebar Left</a></li>
                <li><a href="shop-sidebar-right.html">Shop Sidebar Right</a></li>
                <li><a href="shop-filters-top.html">Shop Filters Top</a></li>
                <li><a href="shop-single.html">Single Product</a></li>
                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="login.html">Login / Register Page</a></li>
                <li class="current-menu-item"><a href="account.html">User Account Page</a></li>
              </ul>
            </li>
            <li><a href="blog.html">Blog</a></li>
            <li class="menu-item-has-children">
              <a href="#">Gallery</a>
              <ul class="sub-menu">
                <li><a href="gallery-with-gap.html">Gallery With Gap</a></li>
                <li><a href="gallery-no-gap.html">Gallery No Gap</a></li>
              </ul>
            </li>
            <li><a href="about.html">About</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="elements.html">Elements</a></li>
          </ul><!-- .menu -->
        </nav><!-- .main-navigation -->
      </div><!-- .mobile-menu-wrapper -->
    </header><!-- .navbar -->